.about--card {
  background-color: transparent;
  border: 0;
  padding: 0.25rem;
  @include transition(0.3s);
  &:hover {
    background-color: white;
    @include border-radius(16px);
    @include transition(0.3s);
  }
  .card-body {padding: 1rem 0.75rem 0.75rem 0.75rem;}
  .about--card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 30px;
      width: auto;
    }
  }
  .card-title {margin: 0;}
  .about--card__subtitle {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.2rem;
  }
  .card-text {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

.project--card {
  border: 0;
  background-color: #F6F6F6;
  @include border-radius(16px);
  height: 465px;
  width: 390px;
  position: relative;
  padding: 1rem 2rem 1rem 1rem;
  color: $text-color;
  @include media-breakpoint-down(lg) {width: 360px;}
  @include media-breakpoint-down(sm) {width: auto;}  
  &:hover {
    text-decoration: none;
    color: $text-color;
    .JNK__link {
      @include transition(0.4s);
      @include border-radius(16px);
      color: white;
      &:nth-child(4n-3) {background-color: $secondary;}
      &:nth-child(4n-2) {background-color: $green;}
      &:nth-child(4n-1) {background-color: $red;}
      &:nth-child(4n) {background-color: $primary;}
    }
  }
  .JNK__link {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

.card__bg-color {
  @include border-radius(16px);
  position: relative;
  width: 95%;
  height: 445px;
  &:after {
    content: "";
    position: absolute;
    left: -3%;
    right: -3%;
    bottom: -3%;
    top: -3%;
    background-size: cover;
  }
  &.--redspher {
    &:after {background-image: url('../img/JNK_mobileapp.png');}
  }
  &.--yoctu {
    &:after {background-image: url('../img/JNK_yoctu.png');}
  }
  &.--illustration {
    &:after {background-image: url('../img/JNK_illustration.png');}
  }
}
