h1 {
  line-height: 6rem;
  font-size: 5rem !important;
  font-weight: 800;
  display: inline;
  &.projects-page {
    @include media-breakpoint-down(sm) {
      font-size: 3.5rem !important;
      line-height: 4rem;
    }
  }
  &.homepage {
    font-family: $font-family-monospace !important;
    text-transform: uppercase;
    font-size: $h1-font-size !important;
    line-height: 2.315rem;
  }
}

h2 {
  font-weight: 800;
  line-height: 4rem;
}

h3 {
  font-weight: 800;
  + p {margin-top: 1.5rem;}
  @include media-breakpoint-down(sm) {font-size: 2.5rem;}
}

h5 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
}
