h1 {
  line-height: 2.315rem;
  text-transform: uppercase;
  font-family: $font-family-monospace;
  font-weight: 800;
  display: inline;
}

h2 {
  font-weight: 800;
  line-height: 4rem;
}

h5 {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0.5rem;
}
