.home-link {
  color: $secondary;
  font-size: 1rem;
  display: block;
  margin-bottom: 5rem;
  &:hover {text-decoration: none;}
}

.project__heading {
  .container {
    .row {
      padding: 3rem 0 2rem;
      p, img {display: inline;}
      p {
        color: $secondary;
        font-size: 1rem;
        padding-left: 0.75rem;
      }
    }
  }
}

.project-redspher__section1 {
  background-color: $secondary;
  padding: 150px 0;
  .container {
    .row {
      p {color: white;}
      .col-md-6 {
        position: relative;
        &:first-child {
          @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
        .project-redspher__section1--img {
          position: absolute;
          z-index: -1;
          bottom: -160px;
          @include media-breakpoint-down(lg) {bottom: -158px;}
          @include media-breakpoint-down(md) {bottom: -150px;}
          @include media-breakpoint-down(sm) {display: none;}
        }
      }
    }
  }
}

.project-redspher__section2 {
  background-color: white;
  position: relative;
  z-index: 1;
  .container {
    .row {
      .col-md-6 {
        &:first-child {
          text-align: center;
          .project-redspher__section2--img {height: 700px;}
         }
        &:last-child {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 2rem 5rem 0 2rem;
          @include media-breakpoint-down(md) {padding: 2rem;}
        }
      }
      p {
        color: #6D6D6D;
        font-size: 1rem;
      }
    }
  }
}

blockquote {
  color: #6D6D6D;
  font-size: 1.5rem;
  font-style: italic;
  padding: 2rem 0;
}
